{extend name="base"/}

{block name="content"}
{include file="common/header"/}

<!--广告块-->
<div class="layui-main layui-main-width main-content">


    <!--产品 详情-->
    <div class="goods-detail">
        <div class="img">
            <img src="#"/>
        </div>
        <div class="produce-info">
            <div class="goods-name">
                商品名称
            </div>
            <div class="goods-price">
                <span class="title">销售价格</span>
                <i>￥</i>
                <strong>199.99</strong>
            </div>
            <div class="goods-info">
                <div class="line">
                    <div class="title">配送</div>
                    <div class="info">
                        <select name="" id="">
                            <option value="1">请选择</option>
                        </select>
                        <strong>有货</strong>
                        <div class="number">
                            <div class="sold">成交 <strong>0</strong></div>
                            <div class="stock">库存 <strong>0</strong></div>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="title">运费</div>
                    <div class="info">单笔满500元的订单国内可包邮</div>
                </div>
            </div>
            <div class="goods-attr">
                <div class="title">规格</div>
                <div class="prop">
                    <div class="list">
                        <div class="photo"><img src="#"/> </div>
                        <div class="attr">属性名</div>
                        <div class="price">199.99元</div>
                        <div class="number">0</div>
                        <div class="attr-num">
                            <input class="reduce" value="-" type="button" mtype="dec" data-productid="691">
                            <input type="text" name="product_691" value="0" mtype="amount" data-max="0" data-productid="691">
                            <input class="add" value="+" type="button" mtype="inc" data-max="0" data-productid="691">
                        </div>
                    </div>

                    <div class="list">
                        <div class="photo"><img src="#"/> </div>
                        <div class="attr">属性名</div>
                        <div class="price">199.99元</div>
                        <div class="number">0</div>
                        <div class="attr-num">
                            <input class="reduce" value="-" type="button" mtype="dec" data-productid="691">
                            <input type="text" name="product_691" value="0" mtype="amount" data-max="0" data-productid="691">
                            <input class="add" value="+" type="button" mtype="inc" data-max="0" data-productid="691">
                        </div>
                    </div>
                </div>
            </div>
            <div class="goods-opt">
                <button class="join-cart">加入购物车</button>
                <button class="buy">立即购买</button>
            </div>
        </div>
    </div>

    <div class="goods-coll">
        <a href="##" class="coll-btn"><i class="layui-icon layui-icon-rate"></i>  <em>收藏</em></a>
        <a href="##" class="share-btn"><i class="layui-icon layui-icon-share"></i>  <em>分享</em></a>
    </div>
    <div class="goods-other">
        <div class="goods-hot">
            <div class="title">
                热门推荐
            </div>
            <ul class="list">
                <li>
                    <a href="###">
                        <img src="/static/images/s-02.png" alt="">
                        <p class="name">xxxxxxxxxxxxxxxxx</p>
                        <p class="price"><i>￥</i><em>199.99</em></p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="#" alt="">
                        <p class="name">xxxxxxxxxxxxxxxxx</p>
                        <p class="price"><i>￥</i><em>199.99</em></p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="#" alt="">
                        <p class="name">xxxxxxxxxxxxxxxxx</p>
                        <p class="price"><i>￥</i><em>199.99</em></p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="goods-detail">
            <div class="layui-tab ">
                <ul class="layui-tab-title">
                    <li class="layui-this">商品详情</li>
                    <li>规格参数</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">内容1</div>
                    <div class="layui-tab-item">内容2</div>
                </div>
            </div>
        </div>
    </div>
</div>



{include file="common/footer"/}
{/block}
{block name="script"}
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
{/block}